{% extends 'base.html.twig' %}

{% block title %}Administration des departements{% endblock %}

{% block body %}

<h1>Department</h1>
<ul>
    {% for department in departments %}
        <li>{{ department.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
