{% extends 'base.html.twig' %}

{% block title %}Administration des departements{% endblock %}

{% block body %}
<div>
    <h1>Department</h1>

    <ul>
        {% for department in departments %}
            <li><a href="{{ path('admin_department_edit', {'department': department.id}) }}">{{ department.name }}</a></li>
        {% endfor %}
    </ul>

    {{ form(formDepartment, {action: path('admin_department_new')}) }}
</div>
{% endblock %}
